:root {
  --primary-color: #e50914;
  --primary-hover: #be000a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  position: relative;
  background: url("./img/bg.jpg") no-repeat top center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 10px 10px 250px rgba(0, 0, 0, 0.5), inset -10px -10px 250px rgba(0, 0, 0, 0.5);
}

.showcase-top {
  height: 90px;
  margin-inline: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.netflix-logo {
  fill: currentColor;
  color: var(--primary-color);
  width: 150px;
}


.showcase-content {
  max-width: 42rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 17rem;
  position: relative;
  z-index: 2;
  margin-bottom: 13rem;
}

.showcase-content h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.showcase-content p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}

.showcase-content p:last-of-type {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.showcase-content form{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.input-div{
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
}

.showcase-content form input{
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgba(15, 15, 15, 0.575);
  padding: 1.5rem 1rem 0.5rem;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 5px;
  outline: none;
  color: #fff;
  width: 100%;
}

.input-div label{
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffc9;
  left: 1rem;
  transition-property: transform, font-size;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

#inputMail:not(:placeholder-shown) ~ label{
  font-size: 0.75rem;
  transform: translateY(-0.5rem);
}

#inputMail:focus{
  outline: #fff solid 2px;
  outline-offset: 2px;
}

#inputMail:focus ~ label{
  font-size: 0.75rem;
  transform: translateY(-0.5rem);
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

#inputMail::placeholder{
  color: transparent;
}

.error-text-div{
  color: rgb(235,57,66);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: left;
  width: 100%;
  display: none;
  align-items: center;
  gap: 0.2rem;
}

/* curve */
.curve-container{
  position: relative;
  overflow: hidden;
  height: 7rem;
  z-index: 2;
}

.curve{
  width: 120%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom: none;
  background: radial-gradient( 50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100% ),black;
  background-clip: padding-box;
  position: absolute;
  top: 0;
  left: -10%;
}

.curve::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-top: -4px;
  border-radius: inherit;
  background: linear-gradient( to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84% );
}

/* buttons */
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  transition: background 300ms;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.btn-lg {
  font-size: 1.5rem;
  padding: 0.8rem 1.3rem;
  display: flex;
  align-items: center;
  svg{
    width: 1.5rem;
    height: inherit;
    margin-left: 0.75rem;
  }
}

.select-lang{
  appearance: none;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
  padding-block: 0.4rem;
  padding-inline: 2rem;
  margin: 0;
  text-align: left;
  &:hover{
    background-color: transparent;
  }
}

.showcase-top-div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select-div{
  background-color: rgba(15, 15, 15, 0.575);
  border: 1px solid rgb(117, 117, 117);
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  svg{
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 0.75rem;
    right: auto;
    color: #fff;
  }
  svg:last-child{
    right: 0.75rem;
    left: auto;
  }
}
